@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #ccc;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

p {
  margin-block: 5px 0;
}

ul {
  list-style: none;
  margin-block: 5px 15px;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.screen>ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

ul>li {
  margin: 10px;
}

button {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  box-shadow: 2px 2px 5px #c0c0c0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

button:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
  box-shadow: 2px 2px 5px #16d9e3;
}

.hide {
  opacity: 0;
}

.containerBoard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
  overflow: hidden;
}

.square {
  width: 16px;
  height: 16px;
  background: #1a1a1a;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}

.container{
  display: flex;
	justify-content: space-around;
	align-items: center;
	width: 500px;
}

p, h1 {
	font-size: 24px;
	color: white;
}

.hide {
  opacity: 0;
}